<div class="overlay-container" (click)="onBlankAreaClicked($event)" id="BLANK">
  <div class="overlay-body">
    <div class="overlay-close" (click)="onModalClose()" >
      <svg class="icon icon-2">
        <use
          xlink:href="#icon-close"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        ></use>
      </svg>
    </div>
    <ng-content></ng-content>
  </div>
</div>

<!--------- START: SVG Symbols --------->
<svg class="d-none">
  <symbol
    id="icon-close"
    viewBox="0 0 64 64"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill="#1D1D1B"
      d="M28.941 31.786L.613 60.114a2.014 2.014 0 1 0 2.848 2.849l28.541-28.541 28.541 28.541c.394.394.909.59 1.424.59a2.014 2.014 0 0 0 1.424-3.439L35.064 31.786 63.41 3.438A2.014 2.014 0 1 0 60.562.589L32.003 29.15 3.441.59A2.015 2.015 0 0 0 .593 3.439l28.348 28.347z"
    />
  </symbol>
</svg>
<!--------- END: SVG Symbols --------->
