// Button

// Button basics
@mixin button( $btn-size, $btn-radius, $btn-shadow ) {
  appearance: none;
  background-color: $color-transparent;
  padding: $font-size-base-our * 0.55 $font-size-base-our * 1.34;
  // margin-bottom: $font-size-base-our * 0.5;
  @extend .font-bukra-regular;
  font-size: $btn-size;
  font-size: $font-size-base-our + 0.2;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: $btn-radius;
  box-shadow: $btn-shadow;
  transition: all 0.15s ease-in-out;

  &:hover {
    box-shadow: none;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  @include media-breakpoint-up(sm) {  // START: Mobile (Landscape) size
    // margin-bottom: $font-size-base-our * 0.3;
  }  // END: Mobile (Landscape) size

  @include media-breakpoint-up(md) {  // START: Tablet size
    // padding: $font-size-base-our * 0.75 $font-size-base-our * 1.25; // for large
  }  // END: Tablet size
}


// Button coloring
@mixin button-coloring( $color, $bg-color, $border-color, $hover-color, $hover-bg-color, $hover-border-color ) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;

  &:hover {
    color: $hover-color;
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
  }
}
