// Shared Variables

$ng-deep: "::ng-deep";

$header-height: 60px;

$theme-border-default: 1px solid lighten($color-gray-200, 30%);

$theme-border-radius: 0.5rem;

$button-shadow: 0 2px 4px 0 rgba($color-black, 0.1);

$border-radius-default: 4px;

$alignment-direction: start, end, center;
